<nav class="navbar" *ngIf="isLoggedIn">
  <div class="container">
    <h1 class="logo"><a href="#">Fire Eye</a></h1>
    <ul class="nav nav-right">
      <li><a href="#">Home</a></li>
      <li><a href="#">Pumps</a></li>`
      <li><a href="#">Users</a></li>
      <li><a href="#">Devices</a></li>
      <li><a [routerLink]="'/clients'">Clients</a></li>
      <li><a [routerLink]="'/logout'">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>



